[Unit]
Description=Be:MyService

[Service]
ExecStart=/root/be-my-season/.next/standalone/server.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/be-my-season/.next/standalone

[Install]
WantedBy=multi-user.target